In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Load data and basic understanding of data frames

In [3]:
train = pd.read_csv('../data/Allstate/train.csv')
test = pd.read_csv('../data/Allstate/test_v2.csv')

In [24]:
train[['customer_ID', 'shopping_pt', 'record_type', 'day', 'time', 'A', 'B', 'C', 'D', 'E', 'F', 'G']].head(60)

    customer_ID  shopping_pt  record_type  day   time  A  B  C  D  E  F  G
0      10000000            1            0    0  08:35  1  0  2  2  1  2  2
1      10000000            2            0    0  08:38  1  0  2  2  1  2  1
2      10000000            3            0    0  08:38  1  0  2  2  1  2  1
3      10000000            4            0    0  08:39  1  0  2  2  1  2  1
4      10000000            5            0    0  11:55  1  0  2  2  1  2  1
5      10000000            6            0    0  11:57  1  0  2  2  1  2  1
6      10000000            7            0    0  11:58  1  0  2  2  1  2  1
7      10000000            8            0    0  12:03  1  0  2  2  1  2  1
8      10000000            9            1    0  12:07  1  0  2  2  1  2  1
9      10000005            1            0    3  08:56  1  1  3  3  1  0  2
10     10000005            2            0    3  08:56  1  1  3  3  1  0  2
11     10000005            3            0    3  08:57  1  1  3  3  1  0  2
12     10000005            4            0    3  08:58  0  0  3  2  0  0  2
13     10000005            5            0    3  08:58  0  0  3  2  0  0  2
14     10000005            6            1    3  09:09  0  0  3  2  0  0  2
15     10000007            1            0    4  08:35  0  0  2  3  0  0  3
16     10000007            2            0    4  08:36  0  0  2  3  0  0  1
17     10000007            3            0    4  08:36  0  0  1  1  0  0  1
18     10000007            4            0    4  08:38  0  0  1  1  0  0  1
19     10000007            5            0    4  08:39  0  0  1  1  0  0  1
20     10000007            6            0    4  08:41  0  0  2  2  0  0  1
21     10000007            7            0    4  08:43  0  0  2  2  0  0  1
22     10000007            8            1    4  14:26  0  0  1  2  0  0  1
23     10000013            1            0    2  16:31  1  1  3  2  1  2  3
24     10000013            2            0    2  16:32  1  1  3  2  1  2  3
25     10000013            3            0    2  16:36  1  1  3  2  1  1  3
26     10000013            4            1    4  09:31  1  1  3  2  1  1  3
27     10000014            1            0    4  16:30  1  1  3  3  0  2  2
28     10000014            2            0    4  16:31  2  1  1  1  0  2  2
29     10000014            3            0    4  16:32  1  1  1  1  0  2  2
30     10000014            4            0    4  16:35  1  1  1  1  0  2  2
31     10000014            5            0    4  16:43  1  1  1  1  0  2  2
32     10000014            6            1    1  17:50  1  1  1  1  0  2  2
33     10000016            1            0    2  13:34  1  1  3  3  0  1  3
34     10000016            2            0    2  13:35  2  1  3  3  1  3  3
35     10000016            3            0    2  13:35  2  1  3  3  1  3  3
36     10000016            4            0    2  13:36  2  1  3  3  1  3  3
37     10000016            5            0    2  13:39  2  1  3  3  1  3  3
38     10000016            6            0    2  13:42  2  1  3  3  1  3  3
39     10000016            7            0    2  13:43  2  1  3  3  1  3  3
40     10000016            8            0    2  13:44  2  1  3  3  1  3  3
41     10000016            9            0    2  13:47  2  0  3  3  1  3  3
42     10000016           10            1    3  13:15  2  0  3  3  0  3  3
43     10000019            1            0    1  08:16  2  0  2  3  0  2  3
44     10000019            2            0    1  08:19  2  0  2  3  0  2  3
45     10000019            3            0    1  09:09  2  0  2  3  0  2  3
46     10000019            4            0    1  09:11  2  0  2  3  0  2  3
47     10000019            5            0    1  09:32  2  0  2  3  0  2  3
48     10000019            6            0    1  09:33  2  0  2  3  0  2  3
49     10000019            7            0    1  09:34  2  0  2  3  0  2  3
50     10000019            8            1    1  11:34  2  1  2  3  1  2  3
51     10000023            1            0    0  12:16  1  1  3  3  1  1  2
52     10000023            2            0    0  12:16  1  1  3  3  1  1  2
53     10000023            3            0    0  12:17  1  1  1  3  1  1  2
54     10000023            4            0    0  12:18  1  1  1  3  1  1  2
55     10000023            5            0    0  14:14  1  1  1  3  1  1  2
56     10000023            6            0    0  14:15  1  1  1  3  1  1  2
57     10000023            7            1    1  14:32  1  1  1  3  1  1  2
58     10000025            1            0    0  15:06  1  0  3  3  0  1  3
59     10000025            2            0    0  15:06  0  0  1  3  0  0  3

In [42]:
test[['customer_ID', 'shopping_pt', 'record_type', 'day', 'time', 'A', 'B', 'C', 'D', 'E', 'F', 'G']].head(60)

    customer_ID  shopping_pt  record_type  day   time  A  B  C  D  E  F  G
0      10000001            1            0    1  12:35  0  0  1  1  0  0  4
1      10000001            2            0    1  12:36  2  1  1  3  1  3  2
2      10000002            1            0    4  12:19  2  0  2  3  1  2  2
3      10000002            2            0    4  12:21  2  0  2  3  1  2  2
4      10000003            1            0    3  17:12  1  0  1  1  0  2  2
5      10000003            2            0    3  17:12  1  0  2  1  0  2  2
6      10000003            3            0    3  17:13  1  0  2  1  0  2  2
7      10000004            1            0    1  12:39  0  0  1  1  0  0  2
8      10000004            2            0    1  12:42  2  0  1  1  0  3  2
9      10000004            3            0    1  12:43  2  0  1  1  0  3  2
10     10000004            4            0    1  12:44  2  0  1  1  0  3  2
11     10000004            5            0    1  12:53  2  0  1  1  0  3  2
12     10000004            6            0    1  12:54  2  0  1  1  0  2  2
13     10000004            7            0    1  12:56  2  0  1  1  0  2  4
14     10000004            8            0    1  12:57  2  0  1  1  0  2  3
15     10000004            9            0    1  12:59  2  0  1  1  1  2  3
16     10000006            1            0    2  18:12  0  0  1  1  0  0  1
17     10000006            2            0    2  18:12  0  0  1  1  0  0  1
18     10000008            1            0    0  09:16  1  0  2  3  0  2  3
19     10000008            2            0    0  09:16  1  0  2  3  0  2  2
20     10000008            3            0    0  09:17  0  0  1  3  0  0  3
21     10000008            4            0    0  09:18  0  0  1  3  0  0  3
22     10000008            5            0    0  09:21  1  0  1  3  0  2  3
23     10000008            6            0    0  09:22  0  0  1  3  0  2  3
24     10000009            1            0    2  14:00  0  1  1  2  0  0  2
25     10000009            2            0    2  14:00  0  1  1  2  0  0  2
26     10000009            3            0    2  14:01  0  1  1  2  0  0  2
27     10000009            4            0    2  14:20  0  1  1  2  0  0  2
28     10000010            1            0    1  08:50  1  1  3  3  1  1  1
29     10000010            2            0    1  08:52  1  0  1  2  0  1  2
30     10000011            1            0    6  23:10  1  0  3  3  0  2  1
31     10000011            2            0    6  23:10  1  0  3  3  0  2  2
32     10000012            1            0    1  10:33  2  0  1  1  0  3  3
33     10000012            2            0    1  10:36  1  0  3  3  1  2  3
34     10000012            3            0    1  10:37  1  0  3  3  1  2  3
35     10000012            4            0    1  10:41  2  0  2  3  0  3  3
36     10000015            1            0    4  07:53  1  1  3  3  1  0  3
37     10000015            2            0    4  07:54  1  1  3  3  1  0  2
38     10000017            1            0    2  13:28  1  1  3  3  1  1  1
39     10000017            2            0    2  13:41  1  1  3  3  1  1  1
40     10000018            1            0    2  12:06  1  0  1  1  0  2  2
41     10000018            2            0    2  12:08  1  0  3  3  1  1  1
42     10000018            3            0    2  12:09  1  1  3  3  1  1  1
43     10000020            1            0    3  12:58  0  1  3  3  0  0  2
44     10000020            2            0    3  12:58  0  1  2  3  0  2  2
45     10000020            3            0    3  12:59  0  1  2  3  0  2  2
46     10000020            4            0    3  13:08  0  1  2  3  0  2  2
47     10000021            1            0    0  10:20  0  1  1  3  0  1  2
48     10000021            2            0    0  10:21  0  1  1  3  0  1  2
49     10000021            3            0    0  10:33  0  1  1  3  0  1  2
50     10000022            1            0    1  08:49  1  1  3  3  1  2  3
51     10000022            2            0    1  08:50  1  1  4  3  1  2  3
52     10000022            3            0    1  08:51  1  1  4  3  1  1  3
53     10000022            4            0    1  08:52  1  1  4  3  1  1  3
54     10000022            5            0    1  08:52  1  1  4  3  1  1  3
55     10000024            1            0    0  14:02  0  0  1  1  0  0  2
56     10000024            2            0    0  14:03  0  0  1  1  0  0  2
57     10000029            1            0    4  13:33  1  1  3  3  0  1  2
58     10000029            2            0    4  13:34  0  0  3  3  0  0  2
59     10000029            3            0    4  13:35  0  0  3  3  0  0  2

In [45]:
print('Num total interactions train set: ' + str(len(train)))
print('Num total interactions test set: ' + str(len(test)))
print('Num unique customers train set: ' + str(len(train.customer_ID.unique())))
print('Num unique customers test set: ' + str(len(test.customer_ID.unique())))

Num total interactions train set: 665249
Num total interactions test set: 198856
Num unique customers train set: 97009
Num unique customers test set: 55716

In [20]:
grouped = train.groupby('customer_ID')
days_session = []
for name,group in grouped:
    max_day = group['day'].max()
    min_day = group['day'].min()
    days_session.append(max_day - min_day)
    group[['A', 'B', 'C', 'D', 'E', 'F', 'G']]
    group[[]]
    break

In [39]:
print('Mean days interaction in test: ' + np.mean(days_session))

0.90331824882227418

# Num interactions per user

In [43]:
grouped = train.groupby('customer_ID')
print('Num interactions per user in train set')
grouped['customer_ID'].agg(['count'])['count'].describe()

Num interactions per user in train set

count    97009.000000
mean         6.857601
std          1.998357
min          3.000000
25%          5.000000
50%          7.000000
75%          8.000000
max         13.000000
Name: count, dtype: float64

In [44]:
grouped = test.groupby('customer_ID')
print('Num interactions per user in test set')
grouped['customer_ID'].agg(['count'])['count'].describe()

Num interactions per user in test set

count    55716.000000
mean         3.569100
std          1.623887
min          2.000000
25%          2.000000
50%          3.000000
75%          5.000000
max         11.000000
Name: count, dtype: float64